---
# ensure mounted boot
- name: Override config.txt location for Raspberry Pi OS version before bookworm
  ansible.builtin.set_fact:
    rpi_serials_config_dir: /boot
  when: ansible_facts.distribution_major_version | int < 12

- name: Override Raspberry PI boot device default since raspberry_pi_boot_dev is set
  ansible.builtin.set_fact:
    rpi_serials_rpi_boot_dev: "{{ raspberry_pi_boot_dev }}"
  when: raspberry_pi_boot_dev | default('', true) | trim != ''

- name: Mount boot
  ansible.posix.mount:
    path: "{{ rpi_serials_config_dir }}"
    state: mounted
    src: "{{ rpi_serials_rpi_boot_dev }}"
    fstype: vfat
  changed_when: false
  become: true
  become_user: root

- name: Setting MPG2 serial
  ansible.builtin.lineinfile:
    path: "{{ rpi_serials_config_dir }}/config.txt"
    regexp: "^decode_MPG2="
    line: "decode_MPG2={{ rpi_serials_mpg2 }}"
  when: rpi_serials_mpg2 | default('', true) | trim != ''
  ignore_errors: "{{ ansible_check_mode }}"
  become: true
  become_user: root

- name: Setting WVC1 serial
  ansible.builtin.lineinfile:
    path: "{{ rpi_serials_config_dir }}/config.txt"
    regexp: "^decode_WVC1="
    line: "decode_WVC1={{ rpi_serials_wvc1 }}"
  when: rpi_serials_wvc1 | default('', true) | trim != ''
  ignore_errors: "{{ ansible_check_mode }}"
  become: true
  become_user: root
